/*
    MapFrame CSS
    https://github.com/abiddiscombe/mapframe
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --var-l1-bg: ;
    --var-l1-fg: ;
    --var-l2-bg: ;
    --var-l2-fg: ;
    --var-font: 
}

body.mapframe-grid {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'grid-header' 'grid-main';
}

body.mapframe-grid > * {
    padding: 0;
    margin: 0;
}

body.mapframe-grid > header {
    grid-area: grid-header;
}

body.mapframe-grid > main {
    grid-area: grid-main;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'grid-sidebar-l grid-main grid-sidebar-r'
}

body.mapframe-grid > main > .--sidebar-l {
    grid-area: grid-sidebar-l;
}

body.mapframe-grid > main > .--sidebar-r {
    grid-area: grid-sidebar-r;
}

body.mapframe-grid > main > .--main {
    grid-area: grid-main;
}

.mapframe-styled-header {
    padding: 12px 18px !important;
    z-index: 1000;
    color: #f8f8f8;
    background: #313437;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.58);
}

.mapframe-styled-sidebar {
    padding: 18px 18px !important;
    color: #4b4b4b;
    background: #f6f6f6;
    border: 1px solid #eaeaea;
    width: 270px;
    min-width: 20%;
}


h1, h2, h3, p, small {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.1em;
    font-weight: 300;
    color: inherit;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 700;
    color: inherit;
}

h3 {
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 1em;
    font-weight: 700;
    color: inherit;
}

p {
    margin-bottom: 6px;
    font-size: 1em;
    font-weight: 400;
    color: inherit;
}

small {
    margin-bottom: 6px;
    font-size: 0.8em;
    font-weight: 300;
    color: inherit;
}